.block {
    background: $bg-color;
    min-width: 300px;
    min-height: 200px;
    border-radius: 5px;
    padding: 1.2em .8em .8em;
    text-align: center;
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: 999999;
    &__title {
        color: #0000ff;
        font-size: 18px;
    }
    .block__text,
    .block__link {
        display: block;
    }
}